/********************
******  WHOLE  ******
*********************/

html {
    height: 100%;
    width: 100%; 
}

div {
    text-align: center;
    font-size: 13pt;
    font-family: 'Gill Sans MT', sans-serif;
    font-weight: 100;
    color:rgb(220,220,220);
    z-index: 5;
}

body { 
    background-image: url('images/bg1.png');
   	height:100%;
   	background-attachment: fixed;
   	background-position: center;
}

.p1{
    font-size: 4em;
}

.p2{
    font-size: 2.5em;
    margin-bottom: 5%;
}


/********************
******  BUTTON  *****
*********************/

.splashButton {
    width: 280px;
    padding: 1%;
    margin-top: 1%;
    margin-right:10%;
    margin-left:10%;
    display:inline-block;
    position:relative;
    top:80%;
    left:12px;
    background-color: rgba(25, 25, 25, 0.7);
    border: solid 4px rgba(150, 150, 150, 0.7);
    cursor:pointer;
    overflow: hidden;
    color: rgba(230,230,230,0.9);
    font-size: 2.4em;
}

.splashbut2 {
    border:none;
    background-color: transparent;
    text-decoration: underline;
    margin-top:1%;
    margin-bottom:12%;
    font-size: 2em;
    z-index: 5;
    cursor:pointer;
}

.sb2{
    margin-left: -45%;
}


/********************
******  ICON  *******
*********************/

#logo {
    height:11%;
    width:auto;
    z-index: 100;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: -3%;
    position:relative;
}

#llogo {
    height:15%;
    width:auto;
    z-index: 50;
    margin-top: 15%;
    margin-bottom: 5%;
    position:relative;
}

#slogo {
    height:9%;
    width:auto;
    z-index: 50;
    margin-top: 15%;
    margin-bottom: 3%;
    position:relative;
}

.circle {
    margin-top: 5%;
    margin-bottom: 6%;
    width: 13px;
	height: 13px;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
    position: relative;
	background: #fff;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    z-index: 50;
}

.circle2 {
    margin-top: 4%;
    margin-bottom: 8%;
    width: 13px;
	height: 13px;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
    position: relative;
	background: #fff;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    z-index: 50;
}

#tri1 {
    height:5%;
    width:auto;
    z-index: 50;
    position:relative;
    margin-top:3%;
    margin-bottom:-1%;
}

#tri2 {
    height:5%;
    width:auto;
    z-index: 50;
    position:relative;
    margin-top:4%;
    margin-bottom:-1%;
}


/********************
******  IPUT  *******
*********************/

.inbox{
    border: none;
    height: 7%;
    width: 100%;
    margin: 2%;
    font-size: 2.3em;
    padding-left:13%;
}

.inb{
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 6%;
    margin-bottom: 2%;
}

.inb2{
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.in1{
    background: url(icon/input-name_icon.png) no-repeat left center;
    background-size: 9%;
    background-color: rgba(10, 10, 10, 0.6);
}

.in2{
    background: url(icon/input-name_icon.png) no-repeat left center;
    background-size: 9%;
    background-color: rgba(10, 10, 10, 0.6);
}

.in3{
    background: url(icon/input-email_icon.png) no-repeat left center;
    background-size: 9%;
    background-color: rgba(10, 10, 10, 0.6);
}

.in4{
    background: url(icon/input-password_icon.png) no-repeat left center;
    background-size: 9%;
    background-color: rgba(10, 10, 10, 0.6);
}

.in5{
    background: url(icon/input-password_icon.png) no-repeat left center;
    background-size: 9%;
    background-color: rgba(10, 10, 10, 0.6);
}

::-webkit-input-placeholder {
    color: rgba(150, 150, 150, 0.5);
}


